<ion-header transparent no-border id="sign-header">
    <ion-toolbar transparent id = "mainTool" >
      <div (click)="goBack()" id="Back" transparent>
        <img src="./assets/icon/Back.png" id="Back"/>
      </div>
      <button id=Next (click) ='login()'>
        Next
      </button>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id=pinput *ngIf ="this.toggle == false">
    <input type="text" ng-model="string"
    id='Uname' placeholder = "Username or Phone Number">
    <input type="password" ng-model="string"
    id='Pword' placeholder = "Password">
    <!-- <div (click)=goForgot()> Forgot Password?</div> -->
    <div (click) = openModal()> Forgot Password?</div>
  </div>

  <div id=finput *ngIf ="this.toggle == true">
    <input type="text" ng-model="string"
    id='femail' placeholder = "Email Address">
    <div> or </div>
    <input type="text" ng-model="string"
    id='fphone' placeholder = "Phone Number">
  </div>

</ion-content>
