#THeader
{
  background: rgba(255,255,255,0.6);
}

#Footer
{
  background: rgba(255,255,255,0.6);
}

#pname {
	font-size: 4vw;
	width: 100%;
	font-weight: bold;
  margin: 0;
  padding-bottom: 3%;
}

#User{
  display: inline-block;
  width:100%;
  padding-bottom: 0;
  margin-bottom: 0;
}

#location{
  font-size: 3.25vw;
  width: 100%;
  margin: 0;
  padding-bottom: 3%;
}

#pUname {
	font-size: 2.5vw;
	width: 40%;
  color:black;
  margin: 0;
  padding-bottom: 3%;
}

#Info{
  position: relative;
  display:block;
  text-align: left;
  vertical-align: top;
  overflow: visible;
  float:left;
  width:50%;
  height:100%;
  margin-top:.9em;
  padding:0;
}

.pprof_pic {
  width: 20%;
  float:left;
  margin: .9em;
  padding:0;
	top: .5vw;
}

.MainContent
{
  background-repeat: no-repeat;
	background-color: transparent;
  background-size: cover;
}

.plink {
	width:7%;
	position: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-add{
  float:right;
  margin: .9em;
  content: url(/assets/icon/Add.png);
}

.link-close{
  position: relative;
  left: 47%;
  margin:0;
  padding: 0;
  content: url(/assets/icon/down.png);
}

.link-expand{
  position:absolute;
  display:block;
  margin-top: 0;
  padding:0;
  bottom:0;
  right:47%;
  content: url(/assets/icon/up.png);
}

.link-public{
  width:45%;
  content: url(/assets/icon/All.png);
}

.link-favorites{
  width:45%;
  content: url(/assets/icon/Friends.png)
}

.plink-family{
  width:45%;
  content: url(/assets/icon/Family.png)
}

//Accordian Elements
#filters div{
    width:15%;
    padding:0;
    margin:0;
    display:inline-block;
    text-align: center;
}

#whitebar div
{
  text-align: center;
  background: rgba(255,255,255,1);
}

#fbutton{
  width:30%;
}

#Edit {
  display: inline-block;
  border-top: solid;
  border-bottom: solid;
  border-width: thin;
  text-align: center;
  width:95%;
  padding: 1.5%;
}

.Stats{
  display: inline;
  text-align: center;
  position: relative;
  left:2%;
}

.Stats-stuff{
  display:inline-block;
  width:18%;
}

#staText
{
  position: relative;
  display:block;
  padding:0;
  margin:0;
  text-align: center;
  font-size: 3.25vw;
}

#bio
{
  text-align: center;
  padding:1%;
}

#outer
{
    text-align:center;
    padding-top: 5%;
}

#Back img{
  width:10%;
  color:0;
  margin:2%;
  padding-top: 1%;
  float:left;
}

#Back button{
  background-color: 0;
}
