#THeader
{
  background: rgba(255,255,255,0.6);
}

#Footer
{
  background: rgba(255,255,255,0.6);
}

#pname {
	font-size: 4vw;
	width: 100%;
	font-weight: bold;
  margin: 0;
  padding-bottom: 3%;
}

#User{
  display: inline-block;
  width:100%;
  padding-bottom: 0;
  margin-bottom: 0;
}

#location{
  font-size: 3.25vw;
  width: 100%;
  margin: 0;
  padding-bottom: 3%;
}

#pUname {
	font-size: 2.5vw;
	width: 40%;
  color:black;
  margin: 0;
  padding-bottom: 3%;
}

#Info{
  position: relative;
  display:block;
  text-align: left;
  vertical-align: top;
  overflow: visible;
  float:left;
  width:50%;
  height:100%;
  margin-top:.9em;
  padding:0;
}

.pprof_pic {
  width: 20%;
  float:left;
  margin: .9em;
  padding:0;
	top: .5vw;
}

.MainContent
{
  background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
  width: 100%;
}

.plink {
	width:7%;
	position: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-add{
  float:right;
  margin: .9em;
  content: url(/assets/icon/Add.png);
}

.link-close{
  position: relative;
  left: 46%;
  margin:0;
  padding: 0;
  content: url(/assets/icon/down.png);
}

.link-expand{
  position:absolute;
  display:block;
  margin-top: 0;
  padding:0;
  bottom:0;
  right:47%;
  content: url(/assets/icon/up.png);
}

.link-public{
  content: url(/assets/icon/All.png);
}

.link-favorites{
  content: url(/assets/icon/Friends.png)
}

.plink-family{
  content: url(/assets/icon/Family.png)
}

//Accordian Elements
#filters div{
    background: rgba(255,255,255,1);
    width:100%;
    display:inline-block;
}

#fbutton{
  width:30%;
}

#Edit {
  border: solid;
  margin-right: 0 auto;
  margin-left: 0 auto;
  text-align: center;
  width:25%;
}

.Stats{
  width: 50%;
  display:inline-block;
}

.Stats-fing{
}

.Stats-fer{

}

.Stats-po{

}

.Stats-pho{

}

.Stats-vid{

}
