page-home {

}

/* Image Related Styling*/
.prof_pic {
  width: 20%;
	height: 20%;
  float: left;
  vertical-align: top;
  margin: .3em;
	top: .5vw;
}

.item {
    contain:none;
}

.Title{
  font-size: 2em;
  font-weight: 800;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.feed{
  padding:0;
  margin:0;
}

.post_pic {
	width: 100%;
	float: center;
	height: auto;
	padding: 0;
  margin:0;
}

/*.Posts related classes */
.posts h6 {
    display: inline;
    padding: 0;
    margin: .3em;
}

.posts {
    width:100%;
    margin-left: 0;
    margin-right:0;
    margin-bottom: .9em;
    margin-top: 0;
    width:100%;
  }

/*Post Time formating*/
#time {
	position: absolute;
	top: 1.5vh;
	right: .8vw;
	font-size: 2vw;
	color: grey;
}

#name {
	font-size: 3.5vw;
	width: 20%;
	font-weight: bold;
  margin: 0;
}

#Uname {
	font-size: 2.25vw;
	width: 20%;
	color: grey;
  margin: 0;
}

#Text {
	text-align:inline;
  white-space: normal;
	font-size: 4vw;
}

/*Nav Bar*/

#navigation{
  text-align: center;
}
#navigation h4 {
	font-size: 3vw;
  color:black;
  margin-top: 0;
}

#navigation div{
  width:15%;
  background-color: white;
  padding:0;
}

.Nav
{
  background-repeat: no-repeat;
  background-color: transparent;
}

/*Buttons CSS*/
#buttons div{
  display: inline-block;
  width: 11%;
  text-align: justify;
  position: relative;
  vertical-align:bottom;
  margin: 0 auto;
  margin-left: 6.95%;
  overflow:visible;
  margin-right: 6.95%;
}

#Tbuttons div{
  display: inline-block;
  text-align: center;
  width: 100%;
  vertical-align:bottom;
  overflow:visible;
}

/*Buttons CSS*/
#Lbuttons div{
  display: inline-block;
  width: 8%;
  text-align: center;
  position: relative;
  vertical-align:bottom;
  left:2.5%;
  overflow:visible;
  margin-left: 8%;
  margin-right: 8%;
  padding-bottom: 4%;
}

#LTbuttons div{
  display: inline-block;
  width: 100%;
  vertical-align:bottom;
  overflow:visible;
}

#LText{
  position: relative;
  display:block;
  float: left;
  right:15%;
  font-size: 2.25vw;
  color:#AA0000;
  margin-top: 0;
  margin-bottom: 0;
}

#CText{
  font-size: 2.25vw;
  color:#ABABAB;
  display:block;
  position: relative;
  right: 15%;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}

#space{
}

.button {
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
  width: 100%;
  padding-left: 20%;
  padding-top: 100%;
	position: auto;
  overflow: visible;
  display:block;
}

.button-like {
	background-image: url(/assets/icon/like.png);
}

.button-comment {
	background-image: url(/assets/icon/comment.png);
}

.button-share {
	background-image: url(/assets/icon/share.png);
}

.button-repost {
	background-image: url(/assets/icon/repost.png);
}

/*Footer Buttons*/
#Filters div{
  display:inline-block;
  width:19%;
  text-align: center;
}

.link {
	width:40%;
	position: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-all{
  content: url(/assets/icon/All.png);
}

.link-friends{
  content: url(/assets/icon/Friends.png)
}

.link-family{
  content: url(/assets/icon/Family.png)
}

.link-profile{
  content: url(/assets/icon/Profile.png)
}

.link-notifications{
  content: url(/assets/icon/Notification.png)
}

.link-add
{
  content: url(/assets/icon/Add.png);
  width:8%;
}

.add{
  content: url(/assets/icon/Add.png);
  width:100%;
  display:block;
}

#htextbox{
  background:#f1f1f1;
  font-size: .85em;
  margin-left:7%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 70%;
  display:inline-block;
  border:none;
  vertical-align: top;
}

#postButt{
  display: inline-block;
  vertical-align: middle;
  margin-left: 8%;
  width:9%;
}
