page-home {

}

#head{
  text-align: center;
}

/* Image Related Styling*/
.prof_pic {
  width: 20%;
	height: 20%;
  display: inline-block;
  vertical-align: top;
}

.item {
    contain:none;
}

.Title{
  font-size: 2em;
  font-weight: 800;
  padding: 0;
  width:100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.feed{
  padding:0;
  margin:0;
}

.post_pic {
	width: 100%;
	float: center;
	height: auto;
	padding: 0;
  margin:0;
}

/*.Posts related classes */
.posts h6 {
    display: inline;
    padding: 0;
    margin: .3em;
}

.posts {
    width:100%;
    margin-left: 0;
    margin-right:0;
    margin-bottom: .9em;
    margin-top: 0;
  }

/*Post Time formating*/
#time {
  display: inline-block;
	font-size: .5em;
	color: grey;
  vertical-align: top;
}

#proHead{
  width:95%;
  margin-top:5%;
  margin-left: 5%;
  margin-bottom: 1%;
  padding:0;
}

#proInfo{
  display: inline-block;
  width:70%;
}

#name {
	font-size: 3.5vw;
	font-weight: bold;
  margin: 0;
}

#Uname {
	font-size: 2.25vw;
	color: grey;
  margin: 0;
}

#Text {
	text-align:inline-block;
  width:100%;
  margin:2%;
  color:black;
	font-size: 3.5vw;
}

#holder{
  width:78%;
  display:inline-block;
}

/*Nav Bar*/

#navigation{
  text-align: center;
}
#navigation h4 {
	font-size: 3.5vw;
  color:grey;
  margin-top: 0;
}

#navigation div{
  width:15%;
  background-color: white;
  padding:0;
}

.Nav
{
  background-repeat: no-repeat;
  background-color: transparent;
}

/*Buttons CSS*/
#buttons{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  overflow:visible;
  vertical-align: bottom;
}

#Tbuttons{
  display: inline-block;
  text-align: center;
  width: 22%;
  vertical-align:bottom;
  overflow:visible;
}

/*Buttons CSS*/
#Lbuttons{
  width: 100%;
  position: relative;
  vertical-align:bottom;
  padding-bottom: 4%;
  text-align: center;
  left:2%;
}

#LTbuttons{
  display: inline-block;
  width: 18%;
  vertical-align:bottom;
  overflow:visible;
  margin-left: 2%;
  margin-right: 2%;
}

#LText{
  display:inline-block;
  width:35%;
  font-size: 60%;
  color:#AA0000;
  text-align: left;
  vertical-align: bottom;
}

#CText{
  font-size: 60%;
  color:#ABABAB;
  display:inline-block;
  position: relative;
  text-align: left;
  width:25%;
  vertical-align: bottom;
}

.button {
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
  width: 100%;
  display:inline-block;
}

.button-like {
  width:40%;
	content: url(/assets/icon/like.png);
}

.button-comment {
  width:40%;
	content: url(/assets/icon/comment.png);
}

.button-share {
  width:40%;
	content: url(/assets/icon/share.png);
}

.button-ember {
  width:40%;
	content: url(/assets/icon/ember.png);
}

/*Footer Buttons*/
#Filters div{
  display:inline-block;
  width:19%;
  text-align: center;
}

#Filters h4{
  font-size: 60%;
  width:100%;
  padding: 0;
  margin: 0;
}

.link {
	width:40%;
	position: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-all{
  content: url(/assets/icon/All.png);
}

.link-friends{
  content: url(/assets/icon/Friends.png)
}

.link-family{
  content: url(/assets/icon/Family.png)
}

.link-profile{
  content: url(/assets/icon/Profile.png)
}

.link-notifications{
  content: url(/assets/icon/Notification.png)
}

.link-add
{
  content: url(/assets/icon/Add.png);
  width:8%;
}

.add{
  content: url(/assets/icon/Add.png);
  width:100%;
  display:block;
}

#htextbox{
  background:#f1f1f1;
  font-size: .85em;
  margin-left:7%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 70%;
  display:inline-block;
  border:none;
  vertical-align: top;
}

#postButt{
  display: inline-block;
  vertical-align: middle;
  margin-left: 8%;
  width:9%;
}
