<ion-header id="head">
  <ion-toolbar color="white">
        <button ion-button menuToggle="left">
          <ion-icon name="menu"></ion-icon>
        </button>
        <p class = "Title">
          Divy.
        </p>
        <button ion-button menuToggle right>
        <ion-nav #search [root]="rootPage"></ion-nav>
          <ion-icon name="search"></ion-icon>
        </button>
  </ion-toolbar>

  <div id="navigation" >
      <div><button class="Nav" (click) = "filter('All')"><h4 [ngStyle] = "style('All')"> ALL </h4>
      </button></div>
      <div><button class="Nav" (click) = "filter('Post')"><h4 [ngStyle] = "style('Post')"> POSTS </h4>
      </button></div>
      <div><button class="Nav" (click) = "filter('Photo')"><h4 [ngStyle] = "style('Photo')"> PHOTOS </h4>
      </button></div>
      <div><button class="Nav" (click) = "filter('Video')"><h4 [ngStyle] = "style('Video')"> VIDEOS </h4>
      </button></div>
      <div><button class="Nav" (click) = "filter('Promo')"><h4 [ngStyle] = "style('Promo')"> PROMOS </h4>
      </button></div>
  </div>

<!-- TODO Text Input -->
  <div id="input">
    <input type="text" ng-model="string" (input)="postB()"
    id="htextbox" placeholder="Say something to the world...">
    <div id = "postButt"><div class="add" (click) = "goPic('main')"></div>
      <div *ngIf="this.button == true" class="add" (click)="createPost()"></div>
    </div>
</div>
</ion-header>

<ion-content class= "feed">
  <div *ngFor="let post of posts">
    <div *ngIf= "(post.type === rType() || rType() === 'All') && post.feed === fType()">
      <ion-card class="posts">

    <!-- TODO: STYLE THIS -->

        <div id="proHead">
          <img class="prof_pic" src="{{post.prof_pic}}" />
          <div id="holder">
            <span (click)="goProfile(post.profile)">
          <div id="proInfo">
	         <h2 id = "name">{{post.name}}</h2>
	         <h2 id = "Uname">@{{post.username}}</h2>
          </div>
          </span>
           <h2 id ="time">{{post.time}}</h2>
           <span *ngIf = "post.text != ''">
             <div id = "Text">{{post.text}}</div>
           </span>
           <span *ngIf ="post.text === ''">
           <div id="buttons">
             <div id="Tbuttons">
               <img class = "button button-like" (click) = "Like(post)"/>
               <div id = "LText" (click) = "goLike('like',post)">{{post.likes.Display}}</div>
             </div>
             <div id="Tbuttons">
               <div class = "button button-like" (click) = "Ember(post)"></div>
               <div id = "LText" (click) = "goLike('ember',post)">{{post.embers.display}}</div>
             </div>
             <div id="Tbuttons">
               <div class = "button button-comment" (click) = "Comment(post)"></div>
               <div id = "CText" (click) = "goLike('comment',post)">{{post.comments}}</div>
             </div>
             <div id="Tbuttons">
             <div class = "button button-share" (click) = "Share(post)"></div>
           </div>
           </div>
         </span>
         </div>
          </div>


      <!--Actions: Like, comment, repost, share -->


    <span *ngIf ="post.text !== ''">
    <div id="Lbuttons">
        <div id="LTbuttons">
          <img class = "button button-like" (click) = "Like(post)"/>
          <div id = "LText" (click) = "goLike('like',post)">{{post.likes.Display}}</div>
        </div>
        <div id="LTbuttons">
          <div class = "button button-like" (click) = "ember(post)"></div>
          <div id = "LText" (click) = "goLike('emberP',post)">{{post.embers.display}}</div>
        </div>
        <div id="LTbuttons">
          <div class = "button button-comment" (click) = "Comment(post)"></div>
          <div id = "CText" (click) = "goLike('comment',post)">{{post.comments}}</div>
        </div>
        <div id="LTbuttons">
        <div class = "button button-share" (click) = "Share(post)"></div>
      </div>
    </div>
    </span>

  <img *ngIf ="post.post_pic != '' && post.type != 'Video'" class = "post_pic"
  src="{{post.post_pic}}" />
  <object *ngIf="post.type =='Video'" data="https://www.youtube.com/embed/VDGD7kEiksQ"
  class = "post_pic"></object>
  </ion-card>
</div>
</div>

</ion-content>

<ion-footer>
  <div id="Filters">
      <div (click) = "setfeed('public')"><img class="link link-all"/><h4>Public</h4></div>
      <div (click) = "setfeed('friends')"><img class="link link-friends"/><h4>Favorites</h4></div>
      <div (click) = "setfeed('family')"><img class="link link-family"/><h4>Family</h4></div>
      <div (click) = "pushPage('profile')"><img class="link link-profile"/><h4>Profile</h4></div>
      <div><img class="link link-notifications"/><h4>Notifications</h4></div>
  </div>
</ion-footer>
