page-home {

}

/* Image Related Styling*/
.prof_pic {
  width: 20%;
	height: 20%;
  float: left;
  vertical-align: top;
  margin: .3em;
	top: .5vw;
}

.item {
    contain:none;
}

.feed{
  padding:0;
  margin:0;
}

.post_pic {
	width: 100%;
	float: center;
	height: auto;
	Padding: 0;
  margin:0;
}

/*.Posts related classes */
.posts h6 {
    display: inline;
    padding: 0;
    margin: .3em;
}

.posts {
    width:100%;
    margin-left: 0;
    margin-right:0;
    margin-bottom: .9em;
    margin-top: 0;
    width:100%;
  }

/*Post Time formating*/
#time {
	position: absolute;
	top: 1.5vh;
	right: .8vw;
	font-size: 2vw;
	color: grey;
}

#name {
	font-size: 3.5vw;
	width: 20%;
	font-weight: bold;
  margin: 0;
}

#Uname {
	font-size: 2.25vw;
	width: 20%;
	color: grey;
  margin: 0;
}

#Text {
	text-align:inline;
  white-space: normal;
	font-size: 4vw;
}

/*Nav Bar*/
#navigation h4 {
	text-align: center;
	font-size: 3vw;
  color:black;
}

#navigation div{
  width:15%;
  background-color: white;
}

.Nav
{
  background-repeat: no-repeat;
  background-color: transparent;
}

/*Buttons CSS*/
#buttons div{
  display: inline-block;
  width: 11%;
  text-align: justify;
  position: relative;
  vertical-align:bottom;
  margin: 0 auto;
  margin-left: 6.95%;
  overflow:visible;
  margin-right: 6.95%;
}

#Tbuttons div{
  display: inline-block;
  text-align: center;
  width: 100%;
  vertical-align:bottom;
  overflow:visible;
}

#LText{
  position: relative;
  display:inline;
  float: left;
  right: 25%;
  font-size: 2.25vw;
  color:#AA0000;
  margin-top: 0;
  margin-bottom: 0;
}

#CText{
  font-size: 2.25vw;
  color:#ABABAB;
  display:inline;
  position: relative;
  right: 15%;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}

.button {
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: cover;
  width: 100%;
  padding-left: 20%;
  padding-top: 100%;
	position: auto;
  overflow: visible;
}

.button-like {
	background-image: url(/assets/icon/like.png);
}

.button-comment {
	background-image: url(/assets/icon/comment.png);
}

.button-share {
	background-image: url(/assets/icon/share.png);
}

.button-repost {
	background-image: url(/assets/icon/repost.png);
}

/*Footer Buttons*/
#Filters div{
  display:inline-block;
  width:19%;
  text-align: center;
}

.link {
	width:40%;
	position: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-all{
  content: url(/assets/icon/All.png);
}

.link-friends{
  content: url(/assets/icon/Friends.png)
}

.link-family{
  content: url(/assets/icon/Family.png)
}

.link-profile{
  content: url(/assets/icon/Profile.png)
}

.link-notifications{
  content: url(/assets/icon/Notification.png)
}

/*line for menu*/
hr {
    display: block;
    height: 1px;
    border: 0;
    color: black;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
}

#hamClose
{
  width: 8%;
  vertical-align: top;
  padding: 0;
  margin-top: 1em;
  top: .5vw;
  position: relative;
  left:85%;
  content: url(/assets/icon/Hamburger.png);
}

#hamMain div
{
  text-align: left;
  position: relative;
  display: block;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 100%;
}



.hamB{
  width:10%;
	position: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

.hamB-profile
{
  content: url(/assets/icon/Profile.png);
}

.hamB-message
{
  content: url(/assets/icon/Comment.png);
}

.hamB-public
{
  content: url(/assets/icon/All.png);
}

.hamb-favorites
{
  content: url(/assets/icon/Friends.png);
}

.hamb-feed
{
  content: url(/assets/icon/Add.png);
}

.hamb-family
{
  content: url(/assets/icon/Family.png);
}

.hamb-set
{
  content: url(/assets/icon/Add.png);
}

.hamb-thought
{
  content: url(/assets/icon/Add.png);
}

.hamb-sup
{
  content: url(/assets/icon/Add.png);
}
