#smain{
  color: black;
  padding-left: 5%;
  padding-top:0;
  padding-bottom: 0;
  font-size: .85em;
  margin:0;
}

#ssub{
  color:grey;
  padding-left: 5%;
  padding-top:0;
  padding-bottom: 0;
  font-size: .85em;
  margin:0;
}

.sTitle{
  display: inline-block;
  width:100%;
  text-align: center;
  font-size: 1.25em;
}
