#smain{
  color: black;
  padding-left: 5%;
  padding-top:0;
  padding-bottom: 0;
  font-size: .85em;
  margin:0;
}

#ssub{
  color:grey;
  padding-left: 5%;
  padding-top:0;
  padding-bottom: 0;
  font-size: .85em;
  margin:0;
}

.sTitle{
  margin-right: 20%;
  margin-top: 3%;
  padding:0;
  text-align: center;
  font-size: 1.25em;
}
