// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$toolbar-ios-title-text-align: center;

$toolbar-ios-title-font-weight: 100;

@font-face {
    font-family: 'Avenir';
    src: url(./../assets/fonts/AvenirNextLTPro-Regular.otf) format('opentype');
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: Avenir;
}

/*line for menu*/
hr {
    display: block;
    height: 1px;
    border: 0;
    color: black;
    border-top: 1px solid #000;
    margin: 0;
    padding: 0;
}
#hamMenu{

}

#hamClose
{
  width: 6%;
  vertical-align: top;
  padding: 0;
  margin-top: 1em;
  top: .5vw;
  position: relative;
  left:85%;
  content: url(./../assets/icon/Hamburger.png);
}

#hamMain div
{
  text-align: left;
  position: relative;
  display: block;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 100%;
}

#hamMain{
  background-color:rgba(255,255,255,0.3);
}



.hamB{
  width:7%;
	position: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 2%;
  margin-left: 2%;
}
.hamB-home{
  content: url(./../assets/icon/Home.png);
}
.hamB-profile
{
  content: url(./../assets/icon/Profile.png);
}

.hamB-message
{
  content: url(./../assets/icon/Comment.png);
}

.hamB-Gold
{
  content: url(./../assets/icon/likeB.png);
  width:5%;
  margin-left: 3%;
  margin-right: 3%;
}

.hamB-public
{
  content: url(./../assets/icon/All.png);
}

.hamb-favorites
{
  content: url(./../assets/icon/Friends.png);
}

.hamb-family
{
  content: url(./../assets/icon/Family.png);
}

.hamb-promos
{
  content: url(./../assets/icon/promos.png);
}

.hamb-set
{
  content: url(./../assets/icon/settings.png);
}

.hamb-thought
{
  content: url(./../assets/icon/thoughts.png);
}

.hamb-sup
{
  content: url(./../assets/icon/support.png);
}

.hamb-logout
{
  content: url(./../assets/icon/Log.png);
}

ion-modal.Gold-modal{
    background-color: rgba(0, 0, 0, 0);
    ion-content.content{
        top: 35%;
        left: 5%;
        width: 90%;
        height: 25%;
        text-align: center;
        vertical-align: middle;
        background: rgba(255,255,255,0.9);
    }
}

ion-modal.select-modal{
    background-color: rgba(0, 0, 0, .85);
    ion-content.content{
        width: 100%;
        text-align: center;
        vertical-align: middle;
        background: none;
    }
}

ion-modal.ember-modal{
    background-color: rgba(0, 0, 0, 0);
    ion-content.content{
        top: 30%;
        left: 5%;
        width: 90%;
        height: 30%;
        text-align: center;
        vertical-align: middle;
        background: rgba(255,255,255,0.95);
    }
}

ion-modal.button-modal{
  background-color: rgba(0, 0, 0, .8);
}

ion-menu.ham-menu{
  background-color:rgba(0,0,0,0.6);
  background-size: 100%;
}

.no-scroll {
    overflow: hidden;
  }

 .Title{
    content: url(./../assets/icon/divy.png);
    width:40%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

#main-header {
    padding-top: 10px;
}

.toolbar {
    max-height: 40px !important;
    height: 40px !important;
    min-height: 40px !important;
}

ion-nav {
    top: 40px;
    height: calc(100% - 40px);

}

.toolbar-background {
    border: none !important; // This is bad and I'm being a bad example don't do this sorry
}
