// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$toolbar-ios-title-text-align: center;

$toolbar-ios-title-font-weight: 100;


/*line for menu*/
hr {
    display: block;
    height: 1px;
    border: 0;
    color: black;
    border-top: 1px solid #000;
    margin: 0;
    padding: 0;
}

#hamClose
{
  width: 8%;
  vertical-align: top;
  padding: 0;
  margin-top: 1em;
  top: .5vw;
  position: relative;
  left:85%;
  content: url(/assets/icon/Hamburger.png);
}

#hamMain div
{
  text-align: left;
  position: relative;
  display: block;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 100%;
}



.hamB{
  width:10%;
	position: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

.hamB-profile
{
  content: url(/assets/icon/Profile.png);
}

.hamB-message
{
  content: url(/assets/icon/Comment.png);
}

.hamB-public
{
  content: url(/assets/icon/All.png);
}

.hamb-favorites
{
  content: url(/assets/icon/Friends.png);
}

.hamb-feed
{
  content: url(/assets/icon/Add.png);
}

.hamb-family
{
  content: url(/assets/icon/Family.png);
}

.hamb-set
{
  content: url(/assets/icon/Add.png);
}

.hamb-thought
{
  content: url(/assets/icon/Add.png);
}

.hamb-sup
{
  content: url(/assets/icon/Add.png);
}

ion-modal.Gold-modal{
    background-color: rgba(0, 0, 0, 0);
    ion-content.content{
        top: 30%;
        left: 10%;
        width: 80%;
        height: 30%;

        background: rgba(255,255,255,0.9);

    }
}
