#input{
  background:#f1f1f1;
  display: table;
  width:100%;
  margin-bottom: 2%;
  vertical-align: middle;
}

#textbox{
  background:#f1f1f1;
  font-size: 1em;
  margin-right: 7%;
  margin-left:7%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  width: 100%;
  border:none;
  display:block;
}

#MessUser{
  width:100%;
  margin:1em;
  position: relative;
}

.mprof_pic {
  width: 12%;
  display:inline-block;
  padding:0;
  vertical-align: top;

}

#MInfo{
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding:0 auto;
  margin:0 auto;
  width:50%;
}

.mfeed{
  padding:0;
  margin:0;
  background: #f1f1f1;
}

#mname{
  font-size: 3.5vw;
  font-weight: 450;
  margin: 0;
}

#mUname{
  font-size: 2.25vw;
	color: grey;
  margin: 0;
}

#mcont{
  font-size: 1em;
}

#mtime{
  font-size: .75em;
  width:20%;
  display:inline-block;
  vertical-align: top;
}

.mgold{
  width:5%;
  background-repeat: no-repeat;
  background-size: cover;
  content: url(/assets/icon/Gold.png);
  padding-top:5%;
  display: inline-block;
  vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#goldAlert{
  display: inline-block;
  height:100%;
  margin:0;
  vertical-align: middle;
}

#goldAlert div{
  display: block;
  position: relative;
  vertical-align: middle;
  top:25%;
}

#goldAlert img{
  content: url(/assets/icon/Gold.png);
  width:8%;
  display: inline-block;
}

#goldAlert h4{
  font-size: 1em;
  padding:0;
  margin:.2em auto;
}
