<ion-header id="THeader">
  <ion-toolbar color="white" >
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
        <p class = "Title">
          Divy.
        </p>
  </ion-toolbar>

  <!-- TODO Text Input -->
    <div id="input">
      <input type="text" ng-model="string" id="textbox" placeholder="Search messages...">
    </div>
</ion-header>

<ion-content class= "mfeed">
  <div *ngFor="let message of messages">
    <span>
      <ion-card class="posts">
        <div id = "MessUser" (click) = "goConvo()">
          <img class="mprof_pic" src="{{message.prof_pic}}" />
            <div id = "Info">
              <h2 id = "mname">{{message.name}}</h2>
              <h2 id = "mUname">@{{message.username}}</h2>
              <h2 id = "mcont">{{message.text}}...</h2>
            </div>
            <p id = "mtime">{{message.time}}</p>
         <img class="mgold"/>
        </div>
      </ion-card>
    </span>
  </div>
</ion-content>
